<h1><%= t("views.species.index.title") %></h1>

<%= form_tag species_index_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag t("views.species.index.search") %>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= t("views.species.index.scientific_name") %></th>
      <th><%= t("views.species.index.common_name") %></th>
      <th><%= t("views.species.index.red_list_status") %></th>
      <th>SSID</th>
      <th><%= t("views.species.index.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @species.each do |spc| %>
      <tr>
        <td><%= spc.scientificname %></td>
        <td><%= spc.commonname %></td>
        <td><%= spc.red_list_status %></td>
        <td><%= spc.ssid %></td>
        <td><%= link_to "view details", species_path(spc.ssid) %></td>
      </tr>
    <% end %>
</table>
