<div class="nav">
  <ul class="nav-bar">
    <li>CSN Tool 2.0</li>
    <li><%= link_to t("views.shared._nav.countries"), countries_path %></li>
    <li><%= link_to t("views.shared._nav.sites"), sites_path %></li>
    <li><%= link_to t("views.shared._nav.species"), species_path %></li>
    <li><%= link_to t("views.shared._nav.guidelines"), "#" %></li>
    <li><%= link_to t("views.shared._nav.about"), "#" %></li>
    <li>
      <% if I18n.locale == :en %>
        <%= link_to "fr", url_for(locale: :fr) %>
      <% else %>
        <%= link_to "en", url_for(locale: :en) %>
      <% end %>
    </li>
  </ul>
</div>
