<h1>Countries</h1>

<%= form_tag countries_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>ISO</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.country %></td>
        <td><%= country.iso3 %></td>
        <td><%= link_to "view details", "#" %></td>
      </tr>
    <% end %>
</table>
