<h1><%= t("views.countries.index.title") %></h1>

<%= form_tag countries_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag t("views.countries.index.search") %>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= t("views.countries.index.country") %></th>
      <th>ISO</th>
      <th><%= t("views.countries.index.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.country %></td>
        <td><%= country.iso3 %></td>
        <td><%= link_to "view details", "#" %></td>
      </tr>
    <% end %>
</table>
