<h1>Sites</h1>

<%= form_tag sites_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Site rec id</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.intname, site.hyperlink, target: "_blank" %></td>
        <td><%= site.country %></td>
        <td><%= site.sitrecid %></td>
        <td><%= link_to "view details", site_path(site.sitrecid) %></td>
      </tr>
    <% end %>
</table>
<p>Find me in app/views/sites/index.html.erb</p>
