<h1><%= @site.intname %></h1>

<div class="content" style="width:100%;display:flex;flex-wrap:wrap;">
  <div class="map" id="map" style="width:100%;height:300px;position:relative;"></div>


<script type="text/javascript">
  $(function() {
    var map = L.map('map',
        {scrollWheelZoom: false,
          center: [43, 0],
          zoom: 3});

    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>',
        maxZoom: 18
        }).addTo(map);

    $.get('http://csntool-v2.carto.com/api/v2/sql?format=GeoJSON&q=SELECT * FROM critical_sites WHERE site_id=<%= @site.site_id %>',
      function(data) {
        if(data !== undefined) {
          L.geoJson(data).addTo(map);
        }
    });
  });
</script>

  <div  class="table" style="width:100%">
    <h3>Species</h3>
    <table>
      <thead>
        <tr>
          <th>Scientific name</th>
          <th>Common name</th>
          <th>Red List Status</th>
          <th>SSID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @species.each do |spc| %>
          <tr>
            <td><%= spc.scientificname %></td>
            <td><%= spc.commonname %></td>
            <td><%= spc.red_list_status %></td>
            <td><%= spc.ssid %></td>
            <td><%= link_to("view details", species_path(spc.ssid)) if spc.ssid %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
